body {
  text-align: center;
}
a:link {
  color: White;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.Blog {
  font-family: Louis George Café, sans-serif;
  color: #F4EADF;
  text-shadow: 5px 5px Black;
  font-size: 150px;
  position: absolute;
  top: 20px;
  left: 140px;
  z-index: 500;
}
/* Project */
.Project {
  font-family: Louis George Café, sans-serif;
  color: #F4EADF;
  text-shadow: 5px 5px Black;
  font-size: 150px;
  position: absolute;
  top: 20px;
  left: 140px;
  z-index: 500;
}
.Front-End-title{
  font-family: Raleway, sans-serif;
  font-size: 50px;
  position: relative;
  color: white;
  padding: 50px 50px;
  padding-bottom: 30px;
}
.front-end-img{
  width: 350px;
  height: 215px;
  position: relative;
  top: 100px;
}
.Front-text-describe{
    font-family: Raleway, sans-serif;
    padding-top: 130px;
    font-size: 20px;
    color: white;
  }

/* UX */
.UX-title{
  font-family: Raleway, sans-serif;
  font-size: 50px;
  position: relative;
  color: Black;
  padding: 50px 50px;
  padding-bottom: 30px;
}
.UX-img{
  padding: 25px 25px 25px 25px;
  width: 300px;
  height: 190px;
  position: relative;
  top: 100px;
}
.UX-describe{
  font-family: Raleway, sans-serif;
  padding-top: 25px;
  font-size: 20px;
  color: Black;
  position: relative;
  top:120px;
}

/* UI */
.UI-title{
  font-family: Raleway, sans-serif;
  font-size: 50px;
  position: relative;
  color: Black;
  padding: 50px 50px;
  padding-bottom: 30px;
}
.UI-describe{
  font-family: Raleway, sans-serif;
  padding-top: 25px;
  font-size: 20px;
  color: Black;
  position: relative;
  top:100px;
}
.UI-img{
  padding: 25px 25px 25px 25px;
  width: 300px;
  height: 210px;
  position: relative;
  top: 90px;
}

.titleweb {
  font-size: 500%;
  text-align: center;
  position: relative;
  right: 5%;
  top: 30%;
}
.titlewebb {
  position: relative;
  left: -5%;
  top: 30%;
  text-align: center;
}
.Header-img {

  width: 100%;

  position:relative;



}

.titleblog1 {
  font-family: Raleway, sans-serif;
  font-size: 50px;
  position: relative;
  color: white;
  padding: 50px 50px;
  padding-bottom: 30px;
}

.textstudent1 {
  font-family: Raleway, sans-serif;
  padding: 0;
  font-size: 20px;
  color: white;
}

.erp-img{
  padding: 25px 25px 25px 25px;
  width: 330px;
  height: 300px;
  position: relative;
  top: 100px;
}
.erp-describe {
  font-family: Raleway, sans-serif;
  padding: 10%;
  font-size: 20px;
  color: white;
}
/* systen-dev */
.systen-dev-img{
  width: 250px;
  height: 195px;
  position: relative;
  top: 70px;
}
.system-dev-describe{
  font-family: Raleway, sans-serif;
  padding: 0;
  font-size: 20px;
  color: Black;
  position: relative;
  top:100px;
}
.web-dev-img{
  width: 240px;
  height: 200px;
  position: relative;
  top: 100px;
}
.web-dev-describe{
  font-family: Raleway, sans-serif;
  padding: 0;
  font-size: 20px;
color: Black;
position: relative;
top:100px;}

h3 {
  font-size: 650px;
  position: absolute;
  left: 150px;
  top: 20px;
}

.airplane {
  padding-bottom: 25px;
  width: 350px;
  height: 280px;
}

/* Brackground html Link */
#titlecontainer {

}

#Blog-container {
  background-color: #49ABA1;
  position: relative;
  top: 20%;
  width: 90%;
  height: 100%;
  z-index: 50;
}
#Project-container{
  background-color: #49ABA1;
  position: relative;
  top: 20%;
  width: 90%;
  height: 100%;
  z-index: 50;

}
#work {
  text-align: center;
  background-color: #515E63;
  position: relative;
  height: 700px;
}

#Title {
  height: 700px;
}

#upper1 {
  text-align: center;
  background-color: #F1ECC3;
  width: 800px;
  position: relative;
  height: 500px;
  z-index: 500;

}

#upper2 {
  text-align: center;
  background-color: #C9D8B6;
  width: 800px;
  position: relative;
  height: 500px;
  z-index: 500;}


#about {
  text-align: center;
  background-color: white;
  position: relative;
  height: 700px;
}

#lower1 {
  text-align: center;
  background-color: #C9D8B6;
  width: 800px;
  position: relative;
  height: 500px;
  z-index: 500;

}

#lower2 {
  text-align: center;
  background-color: #F1ECC3;
  width: 800px;
  position: relative;
  height: 500px;
  z-index: 500;

}

#footer {
  text-align: center;
}


/* Second pages */
.logo{
  position: absolute;
width: 55px;
height: 61px;
left: 24px;
top: 23px;

background: url(Brady logo.png);
}
.Project_title{
position: absolute;
width: 677px;
height: 285px;
left: 100px;
top: 170px;

font-family: 'Major Mono Display';
font-style: normal;
font-weight: 400;
font-size: 270px;
line-height: 270px;

color: #000000;

text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
}
.Project2_title{
  position: absolute;
  width: 802px;
  height: 326px;
  left: 591px;
  top: 463px;

  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  font-size: 270px;
  line-height: 270px;

  color: #000000;

  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);


}

.tailor_cover{
  position: absolute;
width: 720px;
height: 900px;
left: 0;
top: 1000px;
}
.tailor-header{
  position: absolute;
  width: 454px;
  height: 233px;
  left: 845px;
  top: 1187px;

  font-family: 'Alleana Script';
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 144px;

  color: #000000;


}
.tailor_1{
position: absolute;
width: 163px;
height: 151px;
left: 1210px;
top: 1541px;

font-family: 'Louis George Cafe';
font-style: normal;
font-weight: 700;
font-size: 144px;
line-height: 166px;

color: #000000;
}
.tailor_dec{
position: absolute;
width: 509px;
height: 140px;
left: 800px;
top: 1370px;

font-family: 'Louis George Cafe';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.ai_cover{
  position: absolute;
width: 727px;
height: 646px;
left: 750px;
top: 1866px;

}
.ai_header{
  position: absolute;
width: 672px;
height: 501px;
left: 150px;
top: 2100px;

font-family: 'Alleana Script';
font-style: normal;
font-weight: 400;
font-size: 144px;
line-height: 144px;

color: #000000;
}
.ai_dec{
  position: absolute;
  width: 428px;
  height: 140px;
  left: 170px;
  top: 2300px;

  font-family: 'Louis George Cafe';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #000000;

}
  .ai_2{
    position: absolute;
width: 364px;
height: 308px;
left: 677px;
top: 2354px;

font-family: 'Louis George Cafe';
font-style: normal;
font-weight: 700;
font-size: 144px;
line-height: 166px;

color: #000000;

  }

  .stu_cover{
    position: absolute;
width: 720px;
height: 900px;
left: 0px;
top: 2700px;


  }
  .stu_header{
    position: absolute;
width: 465px;
height: 501px;
left: 869px;
top: 3003px;

font-family: 'Alleana Script';
font-style: normal;
font-weight: 400;
font-size: 144px;
line-height: 144px;

color: #000000;



  }
  .stu_dec{
    position: absolute;
width: 438px;
height: 196px;
left: 962px;
top: 3204px;

font-family: 'Louis George Cafe';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #000000;
  }
    .stu_3{
      position: absolute;
width: 173px;
height: 165px;
left: 1286px;
top: 2773px;

font-family: 'Louis George Cafe';
font-style: normal;
font-weight: 400;
font-size: 144px;
line-height: 166px;

color: #000000;

    }

    .out_cover{
      position: absolute;
      width: 535px;
      height: 520px;
      left: 808px;
      top: 3760px;
    }
    .out_header{
      position: absolute;
      width: 980px;
      height: 310px;
      left: 108px;
      top: 3733px;

      font-family: 'Alleana Script';
      font-style: normal;
      font-weight: 400;
      font-size: 144px;
      line-height: 144px;
      display: flex;
      align-items: center;

      color: #000000;
    }
    .out_dec{
      position: absolute;
      width: 428px;
      height: 140px;
      left: 101px;
      top: 4030px;

      font-family: 'Louis George Cafe';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;

      color: #000000;

    }
    .out_4{
      position: absolute;
width: 144px;
height: 179px;
left: 526px;
top: 4265px;

font-family: 'Louis George Cafe';
font-style: normal;
font-weight: 700;
font-size: 144px;
line-height: 166px;

color: #000000;

    }
.outrec{
    position: absolute;
width: 720px;
height: 900px;
left: 0px;
top: 3600px;
}


.pho_cover{
  position: absolute;
width: 535px;
height: 520px;
left: 93px;
top: 4715px;

}

.pho_header{
  position: absolute;
width: 595px;
height: 501px;
left: 820px;
top: 4684px;

font-family: 'Alleana Script';
font-style: normal;
font-weight: 400;
font-size: 144px;
line-height: 144px;

color: #000000;


}
.pho_dec{
  position: absolute;
width: 428px;
height: 196px;
left: 935px;
top: 4885px;

font-family: 'Louis George Cafe';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #000000;

}
.pho_5{
  position: absolute;
width: 144px;
height: 166px;
left: 1228px;
top: 5161px;

font-family: 'Louis George Cafe';
font-style: normal;
font-weight: 700;
font-size: 144px;
line-height: 166px;
/* identical to box height */


color: #000000;


}

.tailor_portfo{
position: relative;
top: 50px;
width: 1440px;
height: 7409px;
left: 100px;

background: #FFFFFF;
}
.onb_portfo{

position: relative;
width: 1440px;
height: 6247px;
top: 120px;

background: #FFFFFF;
}
.aiportfo{
position: relative;
width: 1440px;
height: 6186px;

background: #CBD8E9;
}
